# Numpy notları defterimde

# Pandas

Veri bilimine başalarken bu importlar yapılmalı

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

# veri tablosunu inceleme

In [4]:
df = pd.read_csv("vgsales.csv",encoding = "utf-8")

In [5]:
df.shape # show rows and calumns

(16598, 11)

In [6]:
df.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [7]:
df.dtypes   #object dedikleri %99 String

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [8]:
df.info()   #missing value ler Nan olarak girilir,hesaplamalara etki etmez böylece

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.1+ MB

In [9]:
df.describe()    #istatistiksel verileri gösterir,mesela stringler gösterilmez ortlama,standart sapma filan vardır

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [10]:
df.isnull().any(axis=0) ##yada isna()

Rank            False
Name            False
Platform        False
Year             True
Genre           False
Publisher        True
NA_Sales        False
EU_Sales        False
JP_Sales        False
Other_Sales     False
Global_Sales    False
dtype: bool

In [11]:
df.isnull().sum() #yada isna()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [12]:
df.dropna(axis = 0,how="any",inplace = True) 
# dropna()-> NaN(eksik) verileri siler
#axis= 0 -> index index bakar,any herhangi bir NaN var
#all yaprsak hepsi NaN ise siler
#inplace değişiklikleri df(yani o anki data frame)'ye uygular ,alternatif oalrark df2 gibi bir değişkene eşitleyebilriz

In [13]:
print(df.isna().any())
print(df.shape)

Rank            False
Name            False
Platform        False
Year            False
Genre           False
Publisher       False
NA_Sales        False
EU_Sales        False
JP_Sales        False
Other_Sales     False
Global_Sales    False
dtype: bool
(16291, 11)

In [14]:
df = pd.read_csv("vgsales.csv",encoding = "utf-8") #df yi resetlemek için
#eksik veriler için bir başka seçenek onları doldurmaktır
df.fillna(df.mean(),inplace=True)
#mean() demek o verinin ortalaması ile doldur demektir,sadece sayısal verileri doldurur stringleri doldurmaz
df.fillna("Unknown Publisher",inplace=True )

In [15]:
print(df.isna().any())
print(df.shape)

Rank            False
Name            False
Platform        False
Year            False
Genre           False
Publisher       False
NA_Sales        False
EU_Sales        False
JP_Sales        False
Other_Sales     False
Global_Sales    False
dtype: bool
(16598, 11)

# Veri Tablosundan Kolon ve Satırları Alma

In [16]:
df.head(10) #baştan parametre kadar veriyi verir, boşsa ilk 5 veriyi verir

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [17]:
df.tail(3) # buda sondan verir

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.0,0.0,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.0,0.0,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.0,0.0,0.01

In [18]:
df["Publisher"].head(3) # köşeli paranteze column ismini vererek sadece ona ait verilere erişebilriz,birden çok column seçilebilir

0    Nintendo
1    Nintendo
2    Nintendo
Name: Publisher, dtype: object

In [19]:
df.Publisher.head(3) #bu şekilde de erişilebilir, ama üsttekini kullanamk daha iyi,mesela 2 kelimelik variable ise hata verir bu,ayrıca sadece tek kolon seçilebilir

0    Nintendo
1    Nintendo
2    Nintendo
Name: Publisher, dtype: object

In [20]:
df[["Name","Year"]].head(3)

                Name    Year
0         Wii Sports  2006.0
1  Super Mario Bros.  1985.0
2     Mario Kart Wii  2008.0

In [21]:
type(df)

pandas.core.frame.DataFrame

In [22]:
type(df.Publisher) #tek column olduğu için series

pandas.core.series.Series

In [23]:
type(df[["Name","Year"]]) #birden çok column olduğu için dataframe

pandas.core.frame.DataFrame

In [24]:
df.iloc[:5, :3] #index location,  ilk parametre satır ikincisi sütunları seçer

   Rank                      Name Platform
0     1                Wii Sports      Wii
1     2         Super Mario Bros.      NES
2     3            Mario Kart Wii      Wii
3     4         Wii Sports Resort      Wii
4     5  Pokemon Red/Pokemon Blue       GB

In [25]:
df.iloc[3,1] #tek bir satırda alınabilir (satır_indexi , sütun_inidexi)

'Wii Sports Resort'

In [26]:
df.iloc[:5,[1,2,5]] #belirli columlar seçilicekse liste içinde verilir

                       Name Platform Publisher
0                Wii Sports      Wii  Nintendo
1         Super Mario Bros.      NES  Nintendo
2            Mario Kart Wii      Wii  Nintendo
3         Wii Sports Resort      Wii  Nintendo
4  Pokemon Red/Pokemon Blue       GB  Nintendo

In [27]:
df.loc[:,"Name"].head()  #loc() da index değil column un ismi verilir

0                  Wii Sports
1           Super Mario Bros.
2              Mario Kart Wii
3           Wii Sports Resort
4    Pokemon Red/Pokemon Blue
Name: Name, dtype: object

In [28]:
df.loc[(df["Platform"]=="PS4")] #koşullu veri çekme işlemi

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
33,34,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77,5.81,0.35,2.31,14.24
44,45,Grand Theft Auto V,PS4,2014.0,Action,Take-Two Interactive,3.80,5.81,0.36,2.02,11.98
77,78,FIFA 16,PS4,2015.0,Sports,Electronic Arts,1.11,6.06,0.06,1.26,8.49
92,93,Star Wars Battlefront (2015),PS4,2015.0,Shooter,Electronic Arts,2.93,3.29,0.22,1.23,7.67
93,94,Call of Duty: Advanced Warfare,PS4,2014.0,Shooter,Activision,2.80,3.30,0.14,1.37,7.60
...,...,...,...,...,...,...,...,...,...,...,...
16220,16223,Dynasty Warriors: Eiketsuden,PS4,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01
16260,16263,Paragon,PS4,2016.0,Action,Epic Games,0.01,0.00,0.00,0.00,0.01
16333,16336,Chaos;Child,PS4,2015.0,Adventure,5pb,0.00,0.00,0.01,0.00,0.01
16550,16553,God Eater Off Shot: Tachibana Sakuya-hen Twin ...,PS4,2016.0,Action,Namco Bandai Games,0.00,0.00,0.01,0.00,0.01
16570,16573,Farming 2017 - The Simulation,PS4,2016.0,Simulation,UIG Entertainment,0.00,0.01,0.00,0.00,0.01

In [29]:
df.loc[(df["Platform"]=="PS4") & (df["Genre"]=="Shooter")] #and

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
33,34,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77,5.81,0.35,2.31,14.24
92,93,Star Wars Battlefront (2015),PS4,2015.0,Shooter,Electronic Arts,2.93,3.29,0.22,1.23,7.67
93,94,Call of Duty: Advanced Warfare,PS4,2014.0,Shooter,Activision,2.80,3.30,0.14,1.37,7.60
154,155,Destiny,PS4,2014.0,Shooter,Activision,2.49,2.05,0.16,0.96,5.65
271,272,Uncharted 4: A Thief's End,PS4,2016.0,Shooter,Sony Computer Entertainment,1.30,2.07,0.18,0.65,4.20
295,296,Far Cry 4,PS4,2014.0,Shooter,Ubisoft,1.12,2.12,0.10,0.69,4.03
349,350,Call of Duty: Ghosts,PS4,2013.0,Shooter,Activision,1.78,1.42,0.05,0.38,3.63
351,352,Tom Clancy's The Division,PS4,2016.0,Shooter,Ubisoft,1.28,1.61,0.15,0.57,3.61
386,387,Battlefield 4,PS4,2013.0,Shooter,Electronic Arts,1.34,1.54,0.17,0.38,3.43
593,594,Killzone: Shadow Fall,PS4,2013.0,Shooter,Sony Computer Entertainment,0.89,1.33,0.07,0.28,2.58
758,760,Tom Clancy's Rainbow Six: Siege,PS4,2015.0,Shooter,Ubisoft,0.54,1.16,0.13,0.32,2.15
797,799,Battlefield: Hardline,PS4,2015.0,Shooter,Electronic Arts,0.70,0.93,0.14,0.32,2.09
905,907,Destiny: The Taken King,PS4,2015.0,Shooter,Activision,0.77,0.78,0.04,0.31,1.91
1026,1028,Overwatch,PS4,2016.0,Shooter,Activision,0.64,0.68,0.14,0.26,1.73
1033,1035,The Order: 1886,PS4,2015.0,Shooter,Sony Computer Entertainment,0.61,0.78,0.06,0.27,1.72
1168,1170,Wolfenstein: The New Order,PS4,2014.0,Shooter,Bethesda Softworks,0.47,0.80,0.03,0.29,1.58
1389,1391,Doom (2016),PS4,2016.0,Shooter,Bethesda Softworks,0.49,0.66,0.02,0.22,1.39
1812,1814,Alien: Isolation,PS4,2014.0,Shooter,Sega,0.34,0.56,0.04,0.19,1.13
2188,2190,Evolve,PS4,2015.0,Shooter,Take-Two Interactive,0.35,0.41,0.05,0.15,0.95
2471,2473,Borderlands: The Handsome Collection,PS4,2015.0,Shooter,Take-Two Interactive,0.36,0.32,0.03,0.14,0.84
2990,2992,Sniper Elite 3,PS4,2014.0,Shooter,505 Games,0.22,0.33,0.00,0.13,0.68
3287,3289,Plants vs. Zombies: Garden Warfare,PS4,2014.0,Shooter,Electronic Arts,0.21,0.29,0.01,0.11,0.61
4350,4352,Plants vs. Zombies: Garden Warfare 2,PS4,2016.0,Shooter,Electronic Arts,0.17,0.21,0.00,0.07,0.45
5729,5731,Homefront: The Revolution,PS4,2016.0,Shooter,Deep Silver,0.05,0.19,0.03,0.04,0.31
6406,6408,Payday 2,PS4,2015.0,Shooter,505 Games,0.09,0.14,0.00,0.04,0.27
7180,7182,Battleborn,PS4,2016.0,Shooter,Take-Two Interactive,0.09,0.08,0.01,0.04,0.22
7651,7653,BioShock The Collection,PS4,2016.0,Shooter,Take-Two Interactive,0.05,0.11,0.01,0.03,0.20
7729,7731,Zombie Army Trilogy,PS4,2015.0,Shooter,Rebellion Developments,0.04,0.12,0.00,0.03,0.20
12133,12135,Resident Evil 6,PS4,2016.0,Shooter,Capcom,0.05,0.00,0.00,0.01,0.07
12523,12525,Destiny: The Collection,PS4,2016.0,Shooter,Activision,0.01,0.04,0.00,0.01,0.06
13013,13015,Earth Defense Force 4.1: The Shadow of New Des...,PS4,2015.0,Shooter,Xseed Games,0.02,0.02,0.00,0.01,0.05
14138,14140,Resident Evil 4 HD,PS4,2016.0,Shooter,Capcom,0.03,0.00,0.00,0.01,0.03
15852,15855,Assault Suit Leynos,PS4,2016.0,Shooter,Rising Star Games,0.01,0.00,0.00,0.00,0.02
15946,15949,Touhou Genso Rondo: Bullet Ballet,PS4,2016.0,Shooter,Nippon Ichi Software,0.01,0.00,0.00,0.00,0.02

In [30]:
df.loc[(df["Platform"]=="PS4") | (df["Publisher"]=="Electronic Arts")] #or

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
33,34,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77,5.81,0.35,2.31,14.24
44,45,Grand Theft Auto V,PS4,2014.0,Action,Take-Two Interactive,3.80,5.81,0.36,2.02,11.98
77,78,FIFA 16,PS4,2015.0,Sports,Electronic Arts,1.11,6.06,0.06,1.26,8.49
82,83,FIFA Soccer 13,PS3,2012.0,Action,Electronic Arts,1.06,5.05,0.13,2.01,8.24
83,84,The Sims 3,PC,2009.0,Simulation,Electronic Arts,0.98,6.42,0.00,0.71,8.11
...,...,...,...,...,...,...,...,...,...,...,...
16413,16416,The Godfather (JP sales),X360,2006.0,Action,Electronic Arts,0.00,0.00,0.01,0.00,0.01
16539,16542,Spore Galactic Adventures,PC,2009.0,Strategy,Electronic Arts,0.00,0.01,0.00,0.00,0.01
16550,16553,God Eater Off Shot: Tachibana Sakuya-hen Twin ...,PS4,2016.0,Action,Namco Bandai Games,0.00,0.00,0.01,0.00,0.01
16554,16557,Psychic Detective,PS,1995.0,Adventure,Electronic Arts,0.01,0.00,0.00,0.00,0.01
16570,16573,Farming 2017 - The Simulation,PS4,2016.0,Simulation,UIG Entertainment,0.00,0.01,0.00,0.00,0.01

In [31]:
#bunlar loc() kullanmadan da yapılır df[df["Platform"]=="PC"] şeklinde koşul verilebilir

In [32]:
df[df["Global_Sales"]>10]["Publisher"].value_counts(normalize = True)

Nintendo                       0.596774
Activision                     0.161290
Take-Two Interactive           0.129032
Sony Computer Entertainment    0.064516
Microsoft Game Studios         0.032258
Ubisoft                        0.016129
Name: Publisher, dtype: float64

In [33]:
df[(df["Genre"] == "Sports") & (df["Global_Sales"]>3)]["Publisher"].value_counts(normalize=True)

Electronic Arts                 0.509434
Nintendo                        0.113208
Sega                            0.094340
Activision                      0.094340
Konami Digital Entertainment    0.075472
Namco Bandai Games              0.018868
505 Games                       0.018868
Take-Two Interactive            0.018868
Microsoft Game Studios          0.018868
Sony Computer Entertainment     0.018868
THQ                             0.018868
Name: Publisher, dtype: float64

In [34]:
df[(df["Publisher"] == "Electronic Arts") & (df["Global_Sales"]>3)]["Genre"].value_counts(normalize = True)

Sports          0.457627
Shooter         0.254237
Racing          0.084746
Action          0.084746
Simulation      0.067797
Role-Playing    0.050847
Name: Genre, dtype: float64

In [35]:
df[(df["Publisher"] == "Electronic Arts") & (df["Global_Sales"]>3) & (df["Genre"]=="Sports")]["Name"].value_counts()

FIFA 15             3
FIFA Soccer 11      2
FIFA 12             2
FIFA 16             2
FIFA 14             2
Madden NFL 06       1
EA Sports Active    1
FIFA Soccer 10      1
FIFA Soccer 06      1
Madden NFL 2004     1
Madden NFL 2005     1
FIFA Soccer 2004    1
FIFA Soccer 07      1
FIFA Soccer 2005    1
FIFA Soccer 08      1
Madden NFL 2003     1
Madden NFL 2002     1
FIFA Soccer 2003    1
Madden NFL 16       1
FIFA 17             1
Madden NFL 07       1
Name: Name, dtype: int64

# Veri Tablosunda Sıralama

In [36]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [37]:
df.sort_index().head(10)  # bu veri seti zaten indekse göre sıralı olduğundan birşey değişmedi

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [38]:
df.sort_index(ascending = False).head(10) #ascending default olarak True'dur
#yani artan sıraya göre sıralar.False yaparsak sondan sıralar.

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.0,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.0,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.0,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.0,0.01
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.0,0.01
16592,16595,Plushees,DS,2008.0,Simulation,Destineer,0.01,0.00,0.00,0.0,0.01
16591,16594,Myst IV: Revelation,PC,2004.0,Adventure,Ubisoft,0.01,0.00,0.00,0.0,0.01
16590,16593,Eiyuu Densetsu: Sora no Kiseki Material Collec...,PSP,2007.0,Role-Playing,Falcom Corporation,0.00,0.00,0.01,0.0,0.01
16589,16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016.0,Action,dramatic create,0.00,0.00,0.01,0.0,0.01
16588,16591,Mega Brain Boost,DS,2008.0,Puzzle,Majesco Entertainment,0.01,0.00,0.00,0.0,0.01

In [39]:
df[df["Genre"]=="Sports"].sort_index(ascending=False).head(3)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16587,16590,Mezase!! Tsuri Master DS,DS,2009.0,Sports,Hudson Soft,0.00,0.00,0.01,0.0,0.01
16581,16584,Fit & Fun,Wii,2011.0,Sports,Unknown,0.00,0.01,0.00,0.0,0.01
16579,16582,PGA European Tour,N64,2000.0,Sports,Infogrames,0.01,0.00,0.00,0.0,0.01

In [40]:
#columnlara göre sıralama
df.sort_values(["Year"],ascending=False).head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
5957,5959,Imagine: Makeup Artist,DS,2020.0,Simulation,Ubisoft,0.27,0.00,0.00,0.02,0.29
16438,16441,Brothers Conflict: Precious Baby,PSV,2017.0,Action,Idea Factory,0.00,0.00,0.01,0.00,0.01
16241,16244,Phantasy Star Online 2 Episode 4: Deluxe Package,PSV,2017.0,Role-Playing,Sega,0.00,0.00,0.01,0.00,0.01
14390,14393,Phantasy Star Online 2 Episode 4: Deluxe Package,PS4,2017.0,Role-Playing,Sega,0.00,0.00,0.03,0.00,0.03
4430,4432,Plants vs. Zombies: Garden Warfare 2,XOne,2016.0,Shooter,Electronic Arts,0.26,0.15,0.00,0.04,0.44

In [41]:
df.sort_values(["Platform","Year","Genre"],ascending=[0,1,0]).head(10)
#Burda sırayla sıralar önce paltforma göre sonra yıla sonra Genre göre sıralar
#ascendinge sadedce True yada False yazarsak bütün valuleri o şekilde sıralar
#bir liste içinde 0 ve 1 verirsek her valueyi artan yada azalan sıralama şeklini seçebiliriz

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
8671,8673,Angry Birds Star Wars,XOne,2013.0,Strategy,Activision,0.11,0.04,0.00,0.01,0.16
1698,1700,FIFA 14,XOne,2013.0,Sports,Electronic Arts,0.41,0.66,0.00,0.12,1.19
2377,2379,NBA 2K14,XOne,2013.0,Sports,Take-Two Interactive,0.70,0.11,0.00,0.06,0.87
2663,2665,Madden NFL 25,XOne,2013.0,Sports,Electronic Arts,0.67,0.05,0.00,0.05,0.77
7820,7822,NBA Live 14,XOne,2013.0,Sports,Electronic Arts,0.16,0.02,0.00,0.01,0.19
5419,5421,Zoo Tycoon (2013),XOne,2013.0,Simulation,Microsoft Game Studios,0.18,0.13,0.00,0.03,0.34
505,506,Call of Duty: Ghosts,XOne,2013.0,Shooter,Activision,1.87,0.77,0.00,0.22,2.86
856,858,Battlefield 4,XOne,2013.0,Shooter,Electronic Arts,1.25,0.58,0.00,0.16,1.98
748,750,Forza Motorsport 5,XOne,2013.0,Racing,Microsoft Game Studios,1.21,0.78,0.01,0.17,2.18
3010,3012,Need for Speed Rivals,XOne,2013.0,Racing,Electronic Arts,0.45,0.17,0.00,0.05,0.67

# Veri Tablosuna Kolon Ekleme/Çıkarma

In [42]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [43]:
df["Total_Sales"] = df["NA_Sales"] +df["EU_Sales"] +df["JP_Sales"] +df["Other_Sales"]
#total_sales yoksa ekler varsa değerlerini günceller

In [44]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Total_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,35.83
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,31.38
...,...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01,0.00
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,0.01

In [45]:
df.drop(columns=["Global_Sales","Total_Sales"],axis= 1,inplace=True)
# 3 parametre alır silinicek column'ların lsitesi, dikey silmek için axis=1 yatay için 0, ve değişikliklerin dataframe yansıması için inplace=True

In [46]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00
...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00

In [47]:
df["Total"]=df.iloc[:,6:10].sum(axis=1)

In [48]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Total
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.83
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.38
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.00
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [49]:
#loc() aslında iloc()'a göre daha iyi çünkü indeksler değişebilir ama column isimleri aynı kalır
df["Global_Sales"] = df.loc[:,["NA_Sales","EU_Sales","JP_Sales","Other_Sales"]].sum(axis=1)

In [50]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Total,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.83,35.83
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.38,31.38
...,...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.00,0.00
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,0.01

# Veri Tablosunu Kaydetmek

In [51]:
#coma seperated
df.to_csv("games_modified.csv",index=False)

In [52]:
#excel
df.to_excel("games_modified.xlsx",index=False)

In [53]:
#txt
df.to_csv("games_modified.txt",index=False,sep="\t") 
#sep -> kolonları nasıl seperate(ayırma) ediyimim parametresi, "\t" tab demek, virgül filanda olabilirdi

# Regular Expresions

bu konuyu ersin onur erdoğan'ın pthon kursundan izleyebilirsin tekrar.
string dizilerini aratma işlemleri filan var, filtrelemede kullanılıyor

# Veri Tablosu Üzerinde Filtreleme

In [57]:
unknowns = df.loc[df["Publisher"].str.startswith("Unknown")]

In [60]:
unknowns.reset_index(drop =True,inplace=True)

In [64]:
unknowns.loc[~(unknowns["Genre"]=="Sports")]
#~ (tilda) işareti sağdaki koşulun değili anlamına gelir klayedene alt+126 tuşlanarak çıkarılır

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Total,Global_Sales
0,471,wwe Smackdown vs. Raw 2006,PS2,2006.406443,Fighting,Unknown Publisher,1.57,1.02,0.00,0.41,3.00,3.00
1,942,Gran Turismo Concept 2001 Tokyo,PS2,2001.000000,Racing,Unknown,0.00,1.10,0.42,0.33,1.85,1.85
3,1651,NASCAR Thunder 2003,PS2,2006.406443,Racing,Unknown,0.60,0.46,0.00,0.16,1.22,1.22
4,1664,Shrek / Shrek 2 2-in-1 Gameboy Advance Video,GBA,2007.000000,Misc,Unknown Publisher,0.87,0.32,0.00,0.02,1.21,1.21
5,2116,Suikoden III,PS2,2006.406443,Role-Playing,Unknown,0.29,0.23,0.38,0.08,0.98,0.98
...,...,...,...,...,...,...,...,...,...,...,...,...
255,16497,Legends of Oz: Dorothy's Return,3DS,2014.000000,Puzzle,Unknown Publisher,0.00,0.01,0.00,0.00,0.01,0.01
256,16535,STORM: Frontline Nation,PC,2011.000000,Strategy,Unknown,0.00,0.01,0.00,0.00,0.01,0.01
257,16546,Driving Simulator 2011,PC,2011.000000,Racing,Unknown Publisher,0.00,0.01,0.00,0.00,0.01,0.01
258,16548,The Treasures of Mystery Island 3 Pack - Save ...,PC,2011.000000,Puzzle,Unknown,0.01,0.00,0.00,0.00,0.01,0.01
259,16556,Bound By Flame,X360,2014.000000,Role-Playing,Unknown Publisher,0.00,0.01,0.00,0.00,0.01,0.01

In [66]:
import re
#regular expression yamak için regular expression kütüphanesi

In [70]:
df.loc[df["Name"].str.contains("^D[a-zA-Z0-9\s:]*art$",flags=re.I,regex=True)]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Total,Global_Sales
3067,3069,Dragon Quest Monsters: Caravan Heart,GBA,2003.0,Role-Playing,Enix Corporation,0.0,0.0,0.64,0.02,0.66,0.66

# Veri Tablosunda Koşullu Değişiklikler

In [73]:
df.loc[df["Publisher"]=="Unknown",["Platform","Year"]]=["Unknown",1990]

In [74]:
df.loc[df["Publisher"]=="Unknown"]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Total,Global_Sales
940,942,Gran Turismo Concept 2001 Tokyo,Unknown,1990.0,Racing,Unknown,0.00,1.10,0.42,0.33,1.85,1.85
1649,1651,NASCAR Thunder 2003,Unknown,1990.0,Racing,Unknown,0.60,0.46,0.00,0.16,1.22,1.22
2114,2116,Suikoden III,Unknown,1990.0,Role-Playing,Unknown,0.29,0.23,0.38,0.08,0.98,0.98
2173,2175,Wheel of Fortune,Unknown,1990.0,Misc,Unknown,0.47,0.36,0.00,0.12,0.95,0.95
2236,2238,Teenage Mutant Ninja Turtles,Unknown,1990.0,Action,Unknown,0.67,0.25,0.00,0.02,0.94,0.94
...,...,...,...,...,...,...,...,...,...,...,...,...
16460,16463,"Horse Life 4: My Horse, My Friend, My Champion",Unknown,1990.0,Action,Unknown,0.00,0.01,0.00,0.00,0.01,0.01
16493,16496,The Smurfs,Unknown,1990.0,Action,Unknown,0.00,0.01,0.00,0.00,0.01,0.01
16532,16535,STORM: Frontline Nation,Unknown,1990.0,Strategy,Unknown,0.00,0.01,0.00,0.00,0.01,0.01
16545,16548,The Treasures of Mystery Island 3 Pack - Save ...,Unknown,1990.0,Puzzle,Unknown,0.01,0.00,0.00,0.00,0.01,0.01
16581,16584,Fit & Fun,Unknown,1990.0,Sports,Unknown,0.00,0.01,0.00,0.00,0.01,0.01

# Veri Tablosunda Gruplama Operasyonları(GroupBy)

In [82]:
df.groupby(["Publisher"]).count().sort_values("Global_Sales",ascending=False).head(3)

,Rank,Name,Platform,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Total,Global_Sales
Publisher,,,,,,,,,,,
Electronic Arts,1351,1351,1351,1351,1351,1351,1351,1351,1351,1351,1351
Activision,975,975,975,975,975,975,975,975,975,975,975
Namco Bandai Games,932,932,932,932,932,932,932,932,932,932,932

In [102]:
df["Count"] = 1

In [103]:
df.groupby(["Publisher","Platform"]).count()["Count"]
#groupbyda "Count" gibi bir ariable koyarsak böyle yazar

Publisher                     Platform
10TACLE Studios               DS          2
                              PS2         1
1C Company                    PC          3
20th Century Fox Video Games  2600        5
2D Boy                        PC          1
                                         ..
imageepoch Inc.               3DS         2
inXile Entertainment          PC          1
mixi, Inc                     3DS         1
responDESIGN                  PS2         1
                              XB          1
Name: Count, Length: 1796, dtype: int64

In [104]:
df.groupby(["Publisher","Platform"]).count()["Count"].max(level=1).sort_values(ascending=False).head(3)
#level=1 listedeki index yani paltforma bakıyo, bunu sonucu bir platformda ki toplam oyunu vermiyor bir şirketin bir platformda çıkardığı max ı verir

Platform
PS2        204
Unknown    203
PS         188
Name: Count, dtype: int64

In [108]:
freq = df[["Publisher","Platform"]].groupby(["Publisher","Platform"]).size().max(level=1).sort_values(ascending=False).head(3)

In [119]:
freq_df=pd.DataFrame({"Publisher":freq.index,"Count":freq.values})
#bu şekilde fred dizisini bir dataframe e dönüştürük, daha rahat  kullnamak için

In [120]:
freq_df

  Publisher  Count
0       PS2    204
1   Unknown    203
2        PS    188

# Mapping
## applymap()-->DataFrame
## map()-->Series
## apply()-->DataFrame+Series

apply() bir fonksiyonu bir dataframe'e veya seriye uygulamak için var
diğer ikisi lambda fonksyonu ile yapılır

In [127]:
df[["NA_Sales","EU_Sales", "JP_Sales","Other_Sales"]].applymap(lambda line: str(line)+" $")
#birden çok kolon seçtiğimiz için dataframe oldu, tek kolon seçseydik applymap() hata verirdi çünkü o seris olur

      NA_Sales EU_Sales JP_Sales Other_Sales
0      41.49 $  29.02 $   3.77 $      8.46 $
1      29.08 $   3.58 $   6.81 $      0.77 $
2      15.85 $  12.88 $   3.79 $      3.31 $
3      15.75 $  11.01 $   3.28 $      2.96 $
4      11.27 $   8.89 $  10.22 $       1.0 $
...        ...      ...      ...         ...
16593   0.01 $    0.0 $    0.0 $       0.0 $
16594   0.01 $    0.0 $    0.0 $       0.0 $
16595    0.0 $    0.0 $    0.0 $       0.0 $
16596    0.0 $   0.01 $    0.0 $       0.0 $
16597   0.01 $    0.0 $    0.0 $       0.0 $

[16598 rows x 4 columns]

In [132]:
df["Name"].map(lambda line:line + " Game")

0                                          Wii Sports Game
1                                   Super Mario Bros. Game
2                                      Mario Kart Wii Game
3                                   Wii Sports Resort Game
4                            Pokemon Red/Pokemon Blue Game
                               ...
16593              Woody Woodpecker in Crazy Castle 5 Game
16594                   Men in Black II: Alien Escape Game
16595    SCORE International Baja 1000: The Official Ga...
16596                                      Know How 2 Game
16597                                Spirits & Spells Game
Name: Name, Length: 16598, dtype: object

In [181]:
def millonize(line):
    for j in range(len(line)):
        number = line[j]
        number = str(float(number)*1000000)[:-2]
        counter = 1
        result = ""
        for i in range(len(number)-1,-1,-1):
            if counter % 3 != 0:
                result = number[i]+result
            else:
                result ="," + number[i]+result  
            counter +=1
        if result[0] == ",":
            result = result[1:]
        line[j] = result
    return line

In [182]:
df[["NA_Sales","EU_Sales", "JP_Sales","Other_Sales"]] = df[["NA_Sales","EU_Sales", "JP_Sales","Other_Sales"]].applymap(lambda line: str(line))

In [184]:
df[["NA_Sales","EU_Sales", "JP_Sales","Other_Sales"]]=df[["NA_Sales","EU_Sales", "JP_Sales","Other_Sales"]].head(10).apply(millonize,axis = 1)

In [186]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Total,Global_Sales,Count
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,"41,490,000","29,020,000","3,770,000","8,460,000",82.74,82.74,1
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,"29,080,000","3,580,000","6,810,000","770,000",40.24,40.24,1
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,"15,850,000","12,880,000","3,790,000","3,310,000",35.83,35.83,1
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,"15,750,000","11,010,000","3,280,000","2,960,000",33.00,33.00,1
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,"11,270,000","8,890,000","10,220,000","1,000,000",31.38,31.38,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,NaN,NaN,NaN,NaN,0.01,0.01,1
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,NaN,NaN,NaN,NaN,0.01,0.01,1
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,NaN,NaN,NaN,NaN,0.00,0.00,1
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,NaN,NaN,NaN,NaN,0.01,0.01,1
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,NaN,NaN,NaN,NaN,0.01,0.01,1

In [199]:
def dollarize(line):
    for col in ["NA_Sales","EU_Sales", "JP_Sales","Other_Sales"]:
        print(col + " = " + line[col] + " $")

In [200]:
df[["NA_Sales","EU_Sales", "JP_Sales","Other_Sales"]].head(10).apply(dollarize,axis = 1)

NA_Sales = 41,490,000 $
EU_Sales = 29,020,000 $
JP_Sales = 3,770,000 $
Other_Sales = 8,460,000 $
NA_Sales = 29,080,000 $
EU_Sales = 3,580,000 $
JP_Sales = 6,810,000 $
Other_Sales = 770,000 $
NA_Sales = 15,850,000 $
EU_Sales = 12,880,000 $
JP_Sales = 3,790,000 $
Other_Sales = 3,310,000 $
NA_Sales = 15,750,000 $
EU_Sales = 11,010,000 $
JP_Sales = 3,280,000 $
Other_Sales = 2,960,000 $
NA_Sales = 11,270,000 $
EU_Sales = 8,890,000 $
JP_Sales = 10,220,000 $
Other_Sales = 1,000,000 $
NA_Sales = 23,200,000 $
EU_Sales = 2,260,000 $
JP_Sales = 4,220,000 $
Other_Sales = 580,000 $
NA_Sales = 11,380,000 $
EU_Sales = 9,230,000 $
JP_Sales = 6,500,000 $
Other_Sales = 2,900,000 $
NA_Sales = 14,030,000 $
EU_Sales = 9,200,000 $
JP_Sales = 2,930,000 $
Other_Sales = 2,850,000 $
NA_Sales = 14,590,000 $
EU_Sales = 7,060,000 $
JP_Sales = 4,700,000 $
Other_Sales = 2,260,000 $
NA_Sales = 26,930,000 $
EU_Sales = 630,000 $
JP_Sales = 280,000 $
Other_Sales = 470,000 $

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
9    None
dtype: object